<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    /* Empêche Google de décaler le site vers le bas */
    top: 0 !important;
    position: static !important;
  }

  /* Cache la barre bleue de Google Translate en haut */
  .goog-te-banner-frame.skiptranslate {
    display: none !important;
  }

  /* Cache le logo Google et nettoie le widget */
  .goog-logo-link {
    display: none !important;
  }
  .goog-te-gadget {
    color: transparent !important;
  }

  /* Cache l'info-bulle au survol du texte traduit */
  #goog-gt-tt {
    display: none !important;
  }
</style>
