<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  /* 1. VOS RÉGLAGES D'ORIGINE (Pour garder le site compact) */
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }

  /* 2. LE CORRECTIF GOOGLE TRANSLATE */

  /* On force le site à rester collé en haut */
  body {
    top: 0 !important;
  }

  /* On cache la barre bleue (l'iframe) */
  .goog-te-banner-frame.skiptranslate {
    display: none !important;
  }

  /* On cache l'espace vide que Google tente de réserver en haut */
  body > .skiptranslate {
    display: none !important;
  }

  /* On nettoie le logo et les textes inutiles */
  .goog-logo-link {
    display: none !important;
  }
  .goog-te-gadget {
    color: transparent !important;
  }
</style>
